/*Categorias*/

.img-fluid{
    width: 110px;
    height: 110px;
    border-radius: 90%;
    border-style: inset;
    border-color: #1888f1 rgb(0, 11, 61) rgb(141, 137, 137) rgb(251, 255, 0);
}
.container2{
    display: flex;
    background-color: var(--main-color);
}
.container2 div{
    background-color: var(--main-color);
    margin: 15px;
    padding: 50px;
    font-size: large;
}
.container2 div p{
    color: var(--white);
    text-align: center;
}
.container2 div p:hover{
    color: var(--hover);
}
