/*Categorias*/
.img-fluid{
    clip-path: circle(50%);
}
.container2{
    display: flex;
    background-color: var(--main-color);
}
.container2 div{
    background-color: var(--main-color);
    margin: 15px;
    padding: 50px;
    font-size: large;
}
.container2 div p{
    color: var(--white);
    text-align: center;
}
.container2 div p:hover{
    color: var(--hover);
}
h2{
    color: var(--white);
}