/*Games*/
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--main-color);
    padding: 15px;
}
.ff{
    height: 100vh;

}
.container div{
    background-color: var(--secondary-color);
    border: 1px black;
    padding: 20px;
    font-size: medium;
    text-align: center;
}
.container div img{
    grid-column: 1;
    grid-row: 0;      /* from first line at start, to first line at end */
    align-self: center;    /* vertical centering */
}
.container div p{
    color: var(--white);
}
.img-games{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    transition-property: width, height;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.img-games:hover{
    width: 300px;
    height: 400px;
}
.onegame-page div{
    background-color: var(--secondary-color);
    border: 1px black;
    padding: 20px;
    font-size: medium;
    text-align: center;

}
.onegame-page{
    display: grid;
    grid-template-columns: auto;
    background-color: var(--main-color);
    padding: 15px;
    height: 100vh;
}
.onegame-page div p{
    color: var(--white);
}
.twogames{
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--main-color);
    border: 1px black;
    padding: 20px;
    font-size: medium;
    text-align: center;
    height: 100vh;
}
.twogames div{
    background-color: var(--secondary-color);
    padding: 15px;
    font-size: medium;
    text-align: center;
    justify-content: center;
}
.twogames div p{
    color: var(--white);
}